/*
    adding #hciprojectframe to all the selectors ensures they only
    apply inside the sidebar instead of messing with everything on the page
*/
#hciprojectframe {
    height: 100%;
}
#hciprojectframe .container {
    background-color: #EAE8F8;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    height: 100%;
}
#hciprojectframe .header{
    background-color: #EAE8F8;
    color: #55379D;
    margin-bottom: 15px;
}
#hciprojectframe #title {
    margin: 0;
}
#hciprojectframe .tabs a{
    text-decoration: none;
    background-color: #EAE8F8;
    color: #4A598C;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom-color: #4A598C;
    border-bottom: 1px solid;
}
#hciprojectframe .tabs .active{
    background-color: white;
    border-bottom: 0px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top-color: #4A598C;
}
#hciprojectframe #reviews {
    height: 100%;
    background-color: white;
    padding-top: 20px;
    padding-left: 10px;
    overflow-y: scroll;
}

#hciprojectframe .review {
    margin: 15px;
}

#hciprojectframe .reviewTab {
    display: none;
}
#hciprojectframe .reviewTab.active {
    display: initial !important; /* halp */
}
#hciprojectframe .pros{
    color: limegreen;
}
#hciprojectframe .cons{
    color: red;
}
